//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)
// @stylint off

.col
	&-btn
		display none
		make-xs-column(2)
		make-sm-column-offset(6)

	&-btn-menu
		make-xs-column(4)
		
	&-content
		make-sm-column(4)
		text-align center
		
	&-content-mid
		make-sm-column(6)
		make-sm-column-offset(6)
	
	&-logo
		make-xs-column(6)
		make-sm-column(4)
		// make-sm-column-offset(4)
	// &-social,
	// &-text
	// 	make-sm-column(3)
	
	&-social
		make-sm-column-offset(6)
		
	&-cargo,
	&-vacante
		make-xs-column(6)
	
	&-cargo
		make-md-column(8)

	&-vacante
		make-md-column(4)

.container
	&-aliados
		.col-content
			make-lg-column(5)
			
			
	&-beneficios
		.col-content
			make-sm-column-offset(8)
			
	&-equipo
		.col
			&-content
				make-sm-column-offset(8)
				make-lg-column(5)
				make-lg-column-offset(7)
			&-content-mid
				make-sm-column-offset(6)
			
	&-who
		.col-content
			make-sm-column-offset(4)
			make-lg-column(6)
			make-lg-column-offset(3)
			
// @stylint on