//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)
// @stylint off

.col
	&-btn-menu
		make-xs-column(4)
		
	&-content
		make-sm-column(4)
		text-align center
		
		
	
	&-logo
		make-xs-column(6)
		make-sm-column(4)
		// make-sm-column-offset(4)