header
	background-color #fff
	box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 0.5)
	padding 1rem
	position relative
	transitionBase()
	z-index 10

	&.affix
		position fixed
		width 100%
		z-index 1000
		
	.logo
		display block
		height auto
		margin 0
		max-width 15.5rem
		transitionBase()
		width 100%
		

		img
			img-responsive(block)
			width 100%
	
