.icon
	background-repeat no-repeat
	background-size 100%
	cuadrado(6rem)
	
	&-back
		background-image embedurl('../embed/icon-back.svg', 'utf-8')
	&-close
		background-image embedurl('../embed/icon-close.svg', 'utf-8')
	&-close-white
		background-image embedurl('../embed/icon-close-white.svg', 'utf-8')
	&-next
		background-image embedurl('../embed/icon-next.svg', 'utf-8')
	&-prev
		background-image embedurl('../embed/icon-prev.svg', 'utf-8')
		