@media (min-width:420px)
	.slider
		.slide-img
			img
				margin 0 auto
				max-width 66.6rem


@media (min-width:$screen-sm)
	header
		background-color transparent
		box-shadow none
		.col-btn-menu
			display none
			

		// .logo
		// 	margin 0 auto