$azul              = #1958cf
$facebook          = #39579a
$gris              = #76777a
$magenta           = #ee1e59
$morado            = #413e98
$twitter           = #51abf1

$icons             = 'Glyphicons halflings'
$font-stack        = 'Prompt', sans-serif


$bold              = 900
$normal            = 400
$light             = 300


//site grid spacing and width
$gutter            = 0.5rem
$site-width        = 110rem

//screen sizes - rewrite bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
$screen-md         = 900px //992px
$screen-lg         = 1200px // 1200px
$grid-gutter-width = $gutter