//Header
header.container-fluid
	div.row
		div.col-btn-menu
			button.btn.btn-menu(type="button")
				span.m-line
				span.m-line
				span.m-line

		//Logo
		if titulo == "Home"
			div.col-logo
				h1.logo
					+image('logo-pts-co.png', 'Puntos Colombia')

		else
			div.col-logo
				h2.logo
					a(href="index.html"): +image('logo-pts-co.png', 'Puntos Colombia')
	
		///-Logo

///-Header