//Menu mobile
nav.menu()
	div.container-menu
		//Btn cerrar
		button.btn.btn-close(type="button")
			i.icon.icon-close-white
		///-Btn cerrar
		
		ul.menu-list

			li
				a(href="#") ¿Quiénes somos?

			li
				a(href="#") Nuestro equipo

			li
				a(href="#") Súper aliados

			li
				a(href="#") Beneficios para clientes

///-Menu mobile