//Menu mobile
nav.menu()
	div.container-menu
		//Btn cerrar
		button.btn.btn-close(type="button")
			i.icon.icon-close-white
		///-Btn cerrar

		if titulo == "Home"
			ul.menu-list

				li
					a(href="#who") ¿Quiénes somos?

				li
					a(href="nuestro-equipo.html") Nuestro equipo

				li
					a(href="super-aliados.html") Súper aliados

				li
					a(href="#beneficios") Beneficios para clientes

		else
			ul.menu-list

				li
					a(href="index.html#who") ¿Quiénes somos?

				li
					a(href="nuestro-equipo.html") Nuestro equipo

				li
					a(href="super-aliados.html") Súper aliados

				li
					a(href="index.html#beneficios") Beneficios para clientes

		+image('icon-menu.png', 'Puntos Colombia')
///-Menu mobile